<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/login.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixit - Login</title>
</head>
<body>
    <div class="Container">
        <div class="logoContainer">
            <img src="/pixit-logo.png" alt="Logo da Pixit">
        </div>
        <div class="LoginBox">
            <div class="LoginFlexContainer">
                <div>
                    <p class="FormTitle">Login</p class="FormTitle">
                    <form id="login-form" method="POST" action="/login">
                            <label class="formLabel" for="email" >Email:</label>
                            <input class="formInput" type="text" name="email" id="email" required>
                            <label class="formLabel" for="password" >Senha:</label>
                            <input class="formInput" type="password" name="password" id="password" required>
                        <button class="formSubmit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

<script>
    
</script>